.Project_Name{
    position: relative;
    top: 0px;
    text-align: center;
    font-size: 30px;
}

.Paper_Name{
    position: relative;
    top: 10px;
    text-align: center;
    font-size: 30px;
}

.Abstract{
    position: relative;
    top:40px;
    left: 15%;
    width: 70%;

}

.foot{
    margin-top: 50px;
    padding-bottom: 30px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #010305;
}

.PaperPlugs{
    position: relative;
    left: 15%;
    width: 70%;
}