.Project_Name{
    position: relative;
    top: 0px;
    text-align: center;
    font-size: 30px;
}

.Abstract{
    position: relative;
    top:40px;
    left: 15%;
    width: 70%;

}

.foot{
    margin-top: 50px;
    padding-bottom: 30px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #010305;
}

.Open_all_papers{
    position: relative;
    left: 15%;
    width: 70%;

    right: 15%;
    background-image: url("/static/images/1.png");
}

.PaperPlugs{
    position: relative;
    left: 15%;
    width: 70%;
    right: 15%;
}

.Papers{
    position: relative;
    left: 15%;
    width: 70%;
}