<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>项目阅读</title>
    <link rel="shortcut icon" href="/static/images/Paper.ico"/>
    <link rel="stylesheet" href="/static/css/markdown.css">
    <link rel="stylesheet" href="/static/css/Project.css">
</head>
<body>
    <div class="Project_Name">
        <h1>
            <a href="/EditeProject/{{ project.Project_Name_encode }}/">
                {{ project.Project_Name }}
            </a>
        </h1>
    </div>
    <div class="Abstract">
        {{ project.Abstract | safe }}
    </div>
    <div class="toc.left">
        <span>文章目录</span>
        <ul>  {{ toc|safe }} </ul>
    </div>
    <div class="PaperPlugs">
        <a href="/EditePaper/">
            <img src="/static/images/plugs2.png" width="32" height="32">
        </a>
    </div>
    <div class="Papers">
        {% for paper in papers %}
            <a href="{{ paper.url }}">{{ paper.Paper_Name }}</a>
        {% endfor %}
    </div>
    <div class="foot">
        <h3>Etherwave's Blog   Hi~ o(*￣▽￣*)ブ</h3>
    </div>
</body>
</html>