<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>项目阅读</title>
    <link rel="shortcut icon" href="/static/images/Paper.ico"/>
    <link rel="stylesheet" href="/static/css/markdown.css">
    <link rel="stylesheet" href="/static/css/Project.css">
    <link rel="stylesheet" href="/static/css/Sidebar.css">
</head>
<body>
    <div class="Project_Name">
        <h1>
            <a href="/EditeProject/{{ project.Project_Name_encode }}/">
                {{ project.Project_Name }}
            </a>
        </h1>
    </div>
    <div class="Abstract">
        {{ project.Abstract | safe }}
    </div>
    <div class="MySidebar">
        <div class="left_box">
            <div class="left_button"></div>
        </div>
        <div class="right_box">
            <span>文章目录</span>
            <ul>  {{ toc|safe }} </ul>
        </div>
    </div>
    <div class="PaperPlugs">
        <br>
        <br>
        <br>
        <a href="/EditePaper/">
            <img src="/static/images/plugs2.png" width="32" height="32">
        </a>
    </div>
    <div class="Open_all_papers">
        <a>
            open them up
        </a>
    </div>
    <div class="Papers" id="Papers">
        {% for paper in papers %}
            <a href="{{ paper.url }}">{{ paper.Paper_Name }}</a>
            <br>
        {% endfor %}
    </div>
    <div class="foot">
        <h3>Paper Reader Hi~ o(*￣▽￣*)ブ</h3>
    </div>

</body>
<script src="/static/js/jquery.min.js"></script>
{#<script src="/static/js/jquery-2.1.3.min.js"></script>#}
<script src="/static/js/Sidebar.js"></script>
<script src="/static/js/Project.js"></script>
<script type="text/x-mathjax-config">
    var mathId = document.getElementById("post-content"); //选择公式识别范围
    MathJax.Hub.Config({
        showProcessingMessages: false, //关闭js加载过程信息
        messageStyle: "none", //不显示信息
        extensions: ["tex2jax.js"],
        jax: ["input/TeX", "output/HTML-CSS"],
        tex2jax: {
            inlineMath: [ ['$','$'], ["\\(","\\)"] ], //行内公式选择符
            displayMath: [ ['$$','$$'], ["\\[","\\]"] ], //段内公式选择符
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre','code','a'] //避开某些标签
        },
        "HTML-CSS": {
            availableFonts: ["STIX","TeX"], //可选字体
            showMathMenu: false //关闭右击菜单显示
        }
    });
    MathJax.Hub.Queue(["Typeset",MathJax.Hub,mathId]);
</script>
{#    <script src="//cdn.bootcss.com/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>#}
<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</html>